---
permalink: /feed.xml
eleventyExcludeFromCollections: true
metadata:
  title: Swarnava Ghosh — Blog
  subtitle: Writing by Swarnava Ghosh.
  author:
    name: Swarnava Ghosh
    email: shornabho.tech@gmail.com
  url: https://shornabho.com/
  feedUrl: https://shornabho.com/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <link href="{{ metadata.feedUrl }}" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {% for post in collections.posts | reverse %}
    {% set absoluteUrl %}{{ post.url | htmlBaseUrl(metadata.url) }}{% endset %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ absoluteUrl }}"/>
        <updated>{{ post.date | dateToRfc3339 }}</updated>
        <id>{{ absoluteUrl }}</id>
        {% if post.data.description %}<summary>{{ post.data.description }}</summary>{% endif %}
        <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absoluteUrl) | safe }}</content>
    </entry>
    {% endfor %}
</feed>
