---
layout: blog-index.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /blog/tag/{{ tag }}/
eleventyComputed:
  title: "#{{ tag }}"
  heading: "Posts tagged #{{ tag }}"
---
